[Unit]
Description=Jump Start Website
After=network.target

[Service]
WorkingDirectory={install_directory}
EnvironmentFile={install_directory}/.env
ExecStart="{install_directory}/bin/start_server.sh"
User={owner}
Group={owner}
Restart=always

[Install]
WantedBy=multi-user.target
